@using CarRental.Core.Domain
@model RentViewModel
@{
    ViewData["Title"] = "Wypożycz pojazd";
}

<div class="container">
    <h2>Wypożycz pojazd</h2>
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Index", "Rent", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "text-danger" })
            
                <div class="form-group">
                    @Html.LabelFor(x => x.FistName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.FistName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.FistName, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.PhoneNumber, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.PhoneNumber, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.City, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.City, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Street, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.Street, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Street, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.VehicleType, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.VehicleType, Enum.GetNames(typeof(VehicleType)).Select(x => new SelectListItem { Text = x }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.VehicleType, null, new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.DateTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(x => x.DateTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.DateTime, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Wypożycz" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>


